---
layout: default
---
<article class="post">
  <header class="post-header">
    {% if page.external-url %}
      <h1>
        <a href="{{ page.external-url }}" rel="external">{{ page.title }}</a>
        <a class="anchor" href="{{ page.url | relative_url }}" aria-label="Permalink to {{ page.title }}"><i class="icon-anchor" aria-hidden="true"></i></a>
      </h1>
    {% else %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    <p class="meta">Posted <time class="postdate" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time></p>
  </header>

  <div class="post-content">{{ content }}</div>
</article>
